// ------------------------------------------------ \\
// $GENERAL
// ------------------------------------------------ //
html {
  border: 1rem solid $white;
}
body {
  background: $background-l-80 url('/assets/images/smd-bg-texture.jpg') no-repeat bottom left;
  background-size: 100% auto;
}


// ------------------------------------------------ \\
// $TEXT
// ------------------------------------------------ //

blockquote {
  @extend .blockquote;
  width: 80%;
  // margin-left: auto;
  // margin-right: auto;
  padding-left: $spacer;
  border-left: 1px solid $heading-l-70;
}


// ------------------------------------------------ \\
// $TYPOGRAPHY
// ------------------------------------------------ //

%font-micro,
.font-micro {
  @include font-size($micro-font-size);
}


// ------------------------------------------------ \\
// $BACKGROUNDS
// ------------------------------------------------ //

%translucent-bg,
.translucent-bg {
  background: rgba($background-l-30, .3);
}


// ------------------------------------------------ \\
// $LINKS
// ------------------------------------------------ //

// Links in posts and pages
%entry-fs {
  font-size: rfs-fluid-value(18px);
}
.entry {
  p {
    margin-bottom: ($paragraph-margin-bottom * 2);
    &:not(.lead) {
      @extend %entry-fs;
    }

    &.lead {
      font-size: rfs-fluid-value(22px);
      line-height: 1.4;
      @include margin-top(32px);
    }
  }
  blockquote {
    p {
      &:first-child {
        margin-bottom: $spacer;
      }
    }
  }
  a {
    color: $link-color;
    text-decoration: solid underline $link-decoration 4px;

    &:hover {
      color: $link-hover-color;
      text-decoration: solid underline $link-hover-decoration 4px;
      transition: text-decoration-color 0.2s ease-in;
    }
  }
  li {
    @extend %entry-fs;
  }
  mark {
    &.highlight {
      border-radius: 1em 0 1em 0;
      background-image: linear-gradient(-100deg, rgba(255,224,0,0.3), rgba(255,224,0,0.7) 95%, rgba(255,224,0,0.1));
    }
  }
}

// Links in breadcrumbs
.breadcrumb-item {
  letter-spacing: $letter-spacing-shrink;

  a {
    color: $link-color;
    text-decoration: solid underline $link-l-30 2px;

    &:hover {
      color: $link-hover-color;
      text-decoration: solid underline $link-hover-decoration 2px;
      transition: text-decoration-color 0.2s ease-in;
    }
  }
}


// ------------------------------------------------ \\
// $HEADINGS
// ------------------------------------------------ //
h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  margin-top: $spacer * 3;
}
h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  color: $heading-d-20;
  .related-posts & {
    color: $heading;
  }
}
h5, h6,
.h5, .h6 {
  text-transform: uppercase;
  letter-spacing: $letter-spacing-wide-1;
}

// ------------------------------------------------ \\
// $NAVIGATION
// ------------------------------------------------ //
.current {
  color: $link-d-40;
}


// ------------------------------------------------ \\
// $IMAGES
// ------------------------------------------------ //

img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: auto;
}
figcaption {
  @extend .initialism;
}
hr {
  height: 2px !important;
  width: 15%;
  text-align: center;
  margin: 2rem auto;
}


// ------------------------------------------------ \\
// $LISTS
// ------------------------------------------------ //

.smd-ul {
  list-style-position: outside;
  margin: 1rem 0 1.5rem 0;
  padding-left: 1.1rem;

  li {
    margin: .7rem 0;
    &::marker {
      color: $link-d-20;
    }
  }
}


// ------------------------------------------------ \\
// $EMBEDS
// ------------------------------------------------ //

// iframe
.iframe-container {
  margin: ($spacer * 3) 0;
  padding-top: 56.25%; // 16:9 aspect ratio
  overflow: hidden;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

// ------------------------------------------------ \\
// $PAGE_ELEMENTS
// ------------------------------------------------ //
// Header: newsletter
.site-header {
  .newsletter-subscription {
    padding-top: 0.5rem;
  }
}
// Tagline heading rotation
.smd-text-rotate {
  transform: rotate(359deg);
}
// Post meta
.post-taxonomy-label {
  @extend %btn-label-smd;
  font-size: $micro-font-size;
  padding: 0 0.4rem;
}
// Related posts
.related-posts {
  @extend %translucent-bg;
}
.related-post {
  margin: 1.5rem 0;
  &:last-child {
    margin-bottom: 0;

    p {
      margin-bottom: 0;
    }
  }
}
// Footer
.smd-footer-wrapper {
  background: rgba($background-l-30, .2);
}


// ------------------------------------------------ \\
// $BUTTONS
// ------------------------------------------------ //
// Default button
%btn-smd,
.btn-smd {
  color: $white;
  background-color: $heading-l-10;

  &:hover {
    color: $white;
    background-color: $heading-d-20;
    transition: background-color 0.1s ease-in;
  }
}
// Default labels
%btn-label-smd,
.btn-label-smd {
  color: $link-d-70;
  background-color: $background-l-90;

  &:hover {
    color: $link-l-80 !important;
    transition: background-color 0.3s ease-in;
    background-color: $background-d-70;
  }
}
%btn-label-smd-bg,
.btn-label-smd-bg {
  background-color: $background;

  &:hover {
    background-color: $background-d-70;
  }
}