// ------------------------------------------------ \\
// $SMD-IMAGEGALLERY
//
// Example usage in a post or page:
//
// {%- 
//    include pattern-imagegallery.html 
//    folder="/assets/images/my-gallery/" 
//    id="1"
// -%} 
// ------------------------------------------------ //

/* purgecss start ignore */
.smd-img-gallery-thumb {
  width: $smd-gallery-thumb-w;
  height: $smd-gallery-thumb-h;
}
.smd-image-gallery-caption {
  width: $smd-gallery-thumb-caption;
}
/* purgecss end ignore */