// ------------------------------------------------ \\
// $CUSTOM TYPOGRAPHY
//
// Loading local fonts for headings
// ------------------------------------------------
// Imported in `smd.scss`
// ------------------------------------------------ //

@font-face {
  font-family: 'SourceSerifProBold';
  src: url('/assets/fonts/SourceSerifProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerifProItalic';
  src: url('/assets/fonts/SourceSerifProItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
#{$site-prefix}-sans {
  font-family: $font-family-base;
}
#{$site-prefix}-serif {
  font-family: 'SourceSerifProBold', serif;
}
#{$site-prefix}-serif-italic {
  font-family: 'SourceSerifProItalic', serif;
}