// General background definition
html {
  background-color: #FEFCFA;
  border: 1rem solid #fff;
}
body {
  background: url('/assets/images/smd-bg-texture.jpg') no-repeat bottom left;
  background-size: 100% auto;
}

// Tagline heading rotation
.smd-text-rotate {
  transform: rotate(359deg);
}


// TO BE EVALUATED

// Header
.site-header {
  text-align: center;
  padding: 12px 0 24px 0;
  margin-bottom: 24px;
}

// Top sidebar
.top-sidebar {
  text-align: center;
}

// Navigation
.navigation-social {
  display: inline-block;
}
.current {
  color: green;
}

// Breadcrumbs
.breadcrumbs {
  padding: 8px 16px;
  border-bottom: 3px solid #ccc;
  background-color: #f6f6f6;

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}

// Intro
.avatar {
  float: left;
}

// Temp image gallery
.image-gallery-picture {
  display: block; 
  float: left; 
  margin-right: 1em;

  p {
    text-align: center;
  }
}

// Archive pages (tags and categories)
.archives {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 16px 8px;
    padding: 0;
    text-align: center;
    cursor: pointer;

    :hover {
      background-color: #ccc;
    }

    a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: #f1f1f1;

      sup {
        font-weight: bold;
        color: rgb(54, 148, 155);
      }
    }
  }
}
.layout-archive code {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 2px 8px;
  border-radius: 4px;
}

// Footer
.site-footer {
  clear: both;
  padding: 12px 0;
  margin-top: 24px;

  .container {
    text-align: left; // <======================= TEMPORARY
  }
}
.site-footer-copyright {
  display: inline-block;
  margin-right: 1rem;
}
.site-footer-navigation {
  display: inline-block;
}
.site-footer-scrolltop {
  float: right;
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal!important;
}

// Utility
.clearfix {
  clear: both;
}