// ------------------------------------------------ \\
// $GENERAL
// ------------------------------------------------ //
html {
  // background-color: #FEFCFA;
  background-color: #FEF9FA;
  border: 1rem solid #fff;
}
body {
  background: url('/assets/images/smd-bg-texture.jpg') no-repeat fixed bottom left;
  background-size: 100% auto;
  min-height: calc(100vh - 2rem);
}
main {
  min-height: calc(100vh - 2rem - 72px); // =====> Adjust to breakpoints
}
.entry {
  a {
    color: black;
    // text-decoration-color: #CFE1E5;
    text-decoration-color: #98D1DD;
    text-decoration-thickness: 4px;

    &:hover {
      color: tint-color(#014C5D, 20%);
      text-decoration-color: shade-color(#98D1DD, 20%);
      transition: text-decoration-color 0.3s ease-in;
    }
  }
}

// ------------------------------------------------ \\
// $HEADINGS
// ------------------------------------------------ //
h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  margin-top: 2rem;
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  color: #555;
  .related-posts & {
    color: black;
  }
}
h5, h6,
.h5, .h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

// ------------------------------------------------ \\
// $NAVIGATION
// ------------------------------------------------ //
.current {
  color: green;
}

// ------------------------------------------------ \\
// $HTML_TAGS
// ------------------------------------------------ //
img {
  max-width: 100%;
  height: auto;
}
hr {
  height: 2px !important;
  width: 15%;
  text-align: center;
  margin: 2rem auto;
}
.smd-ul {
  list-style-position: outside;
  margin: 1rem 0 1.5rem 0;
  padding-left: 1.1rem;

  li {
    margin: .7rem 0;
    &::marker {
      color:rgb(54, 148, 155);
    }
  }
}
// iframe
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

// ------------------------------------------------ \\
// $PAGE_ELEMENTS
// ------------------------------------------------ //
// Header: newsletter
.site-header {
  .newsletter-subscription {
    padding-top: 0.5rem;
  }
}
// Tagline heading rotation
.smd-text-rotate {
  transform: rotate(359deg);
}
// Lead paragraph
.lead {
  margin-bottom: 2rem;
}
// Post meta
.post-taxonomy-label {
  background: #ccc;
  padding: 0 8px;
}
// Related posts
.related-posts {
  background: rgba($color: rgb(235, 213, 201), $alpha: .3);
}
.related-post {
  margin: 1.5rem 0;
  &:last-child {
    margin-bottom: 0;

    p {
      margin-bottom: 0;
    }
  }
}
// Footer
.smd-footer-wrapper {
  background: rgba($color: #fff, $alpha: .4);
}








// TO BE EVALUATED ===================


// Intro
.avatar {
  float: left;
}

// Temp image gallery
.image-gallery-picture {
  display: block; 
  float: left; 
  margin-right: 1em;

  p {
    text-align: center;
  }
}

// Archive pages (tags and categories)
.archives {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 16px 8px;
    padding: 0;
    text-align: center;
    cursor: pointer;

    :hover {
      background-color: #ccc;
    }

    a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: #f1f1f1;

      sup {
        font-weight: bold;
        color: rgb(54, 148, 155);
      }
    }
  }
}