// ------------------------------------------------ \\
// $CUSTOM TYPOGRAPHY
//
// Loading local fonts for headings
// ------------------------------------------------
// Imported in `smd.scss`
// ------------------------------------------------ //

@font-face {
  font-family: 'SourceSerifProBold';
  src: url('/assets/fonts/SourceSerifProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SourceSerifProItalic';
  src: url('/assets/fonts/SourceSerifProItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.smd-sans {
  font-family: $font-family-base !important;
}
.smd-serif {
  font-family: 'SourceSerifProBold', serif !important;
}
.smd-serif-italic {
  font-family: 'SourceSerifProItalic', serif !important;
}