---
layout: page
title: Archive
date: '2021-08-20 13:00'
last_modified_at: '2023-05-21 17:47:48'
description: 'Browse the blog by categories and tags.'
excerpt: 'Browse the blog by categories and tags.'
permalink: /archive/
---
{% comment %}
<section class="h-feed">
  <h2 class="p-name mt-5" id="projects">Projects</h2>
  <ul class="list-group list-group-flush ps-0">
    {% for project in site.projects reversed %}
    <li class="list-group-item ps-0">
      {% if project.type contains 'Photography' %}📸{% else %}👩🏻‍💻{% endif %} <a class="p-name" href="{{ project.url }}"">{{ project.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endcomment %}

{% comment %}
<section class="h-feed">
  <h2 class="p-name mt-5" id="blog">Blog</h2>
  {% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% if forloop.first %}
    <div class="mb-5">
      <h3 id="{{ this_year }}-ref">{{ this_year }}</h3>
      <ul class="list-group list-group-flush ps-0">
    {% endif %}
        <li class="list-group-item ps-0"><a href="{{ post.url }}" class="p-name u-url">{{ post.title }}</a></li>
        {% if forloop.last %}
      </ul>
    </div>
</section>
{% else %}
{% if this_year != next_year %}
      </ul>
    </div>
    <div class="mb-5">
      <h3 id="{{ next_year }}-ref">{{ next_year }}</h3>
      <ul class="list-group list-group-flush ps-0">
{% endif %}
{% endif %}
{% endfor %}
{% endcomment %}

<h2 class="p-name my-5">Categories</h2>
<ol class="h-feed list-unstyled list-inline">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% assign c = category | first %}
{% assign posts = category | last %}
  <li class="list-inline-item mb-4 me-4">
    <a class="btn btn-lg btn-label-smd btn-label-lg-smd btn-label-smd-bg btn-label-smd-link px-4 py-2" href="{{ site.url }}/category/{{ c | slugify }}/" title="Go to the archive page for: {{ c }}"><strong>{{ c | upcase }}</strong> <sup>{{ posts | size }}</sup></a>
  </li>
{% endfor %}
</ol>
<h2 class="mb-5">Tags</h2>
<ol class="h-feed list-unstyled list-inline">
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}
  <li class="list-inline-item mb-4 me-4">
    <a class="btn btn-lg btn-label-smd btn-label-lg-smd btn-label-smd-bg btn-label-smd-link px-4 py-2" href="{{ site.url }}/tag/{{ t | slugify }}/" title="Go to the archive page for: {{ t }}"><strong>{{ t | upcase }}</strong> <sup>{{ posts | size }}</sup></a>
  </li>
{% endfor %}
</ol>