---
layout: blog
title: Blog
date: '2021-04-13 17:31'
last_modified_at: '2024-11-12 16:59:34'
description: "This is Silvia Maggi’s blog, where she writes about her interests, thoughts, joys, and fears from 2016 onwards."
permalink: /blog/
---
<p class="p-summary lead">My interests, thoughts, joys, and fears from 2016 onwards. <a href="/rss/">Read via good old RSS</a>.</p>

<ol class="h-feed list-unstyled list-inline">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
{% assign c = category | first %}
{% assign posts = category | last %}
  <li class="list-inline-item mb-4 me-4">
    <a class="btn btn-lg btn-label-smd btn-label-lg-smd btn-label-smd-bg btn-label-smd-link px-4 py-2" href="{{ site.url }}/category/{{ c | slugify }}/" title="Go to the archive page for: {{ c }}"><strong>{{ c | upcase }}</strong> <sup>{{ posts | size }}</sup></a>
  </li>
{% endfor %}
</ol>

<section class="h-feed">
  {% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% if forloop.first %}
    <div class="mb-5">
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}
        <li class="border-bottom mt-2"><strong><a href="{{ post.url }}">{{ post.title }}</a></strong>{% if post.popular-post == true %} <span class="btn-sm btn-label-smd-bg">★&nbsp;Most&nbsp;read</span>{% endif %}<p><time class="smd-font-micro mt-2 mb-2" datetime="{{ post.date | date_to_rfc822 }}" itemprop="dateCreated">{{ post.date | date: "%d %B %Y" }}</time></p></li>
        {% if forloop.last %}
      </ul>
    </div>
</section>
{% else %}
{% if this_year != next_year %}
      </ul>
    </div>
    <div class="mb-5">
      <h2 id="{{ next_year }}-ref">{{ next_year }}</h2>
      <ul>
{% endif %}
{% endif %}
{% endfor %}