---
layout: page-portfolio
title: Projects
date: 2021-04-13 17:27:01
last_modified_at: '2022-04-14 12:45:56'
description: 'Silvia Maggi’s online portfolio. Find the latest projects and case studies about web design, development and UX.'
excerpt: 'Both as a freelance and an employee, I worked on many exciting projects together with brilliant and skilled people. Here is a selection of the ones I’m most proud of.'
permalink: '/projects/'
---
<p class="lead">{{ page.excerpt }}</p>
<div class="h-feed my-5">
  <ul class="h-feed list-unstyled ps-0">
    {% assign projects = site.projects | reverse %}
    {% for project in projects %}
    <li class="row gx-0 my-4 py-4 smd-transition-opacity-03s position-relative {% unless forloop.last %}border-bottom{% endunless %}">
      <div class="col-12 col-md-3 mb-4 text-center text-md-start">
        <img class="rounded-3" src="/assets/images/highlights/highlighted-{{ project.featimage }}" alt="{{ project.featured-image-alt }}" width="200" height="200">
      </div>
      <div class="col-12 col-md-9 text-center text-md-start ps-md-3">
        <span class="p-category btn-label-smd btn-label-smd-bg d-inline-block initialism fw-bold me-1 rounded"><strong>{{ project.type }}</strong></span>
        <h3 class="p-name my-4">{{ project.title }}</h3> 
        <p class="e-content fs-5 card-text text-start">{{ project.description }}</p>
        <div class="my-4">
          {% if project.custom-cta == true %}
          <a class="stretched-link text-uppercase fs-5 fw-bold" href="{{ project.custom-url }}" title="View: {{ project.title }}">{{ project.custom-cta-title }}</a>
          {% else %}
          <a class="stretched-link text-uppercase" href="{{ project.url }}" title="View: {{ project.title }}"><strong>View the project</strong></a>{% endif %}&nbsp;→
        </div>
      </div>
    </li>
    <hr class="visually-hidden">
    {% endfor %}
  </ul>
</div>

<section class="my-5 pt-3">
  <h2 class="text-center mb-5">They trusted me</h2>
  <div class="row justify-content-center gy-4">
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-unicredit.png" alt="UniCredit"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-origami.png" alt="Origami"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-elite.png" alt="Elite New York"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-reevoo.png" alt="Reevoo"></div>
    <div class="col-4"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-wm.png" alt="Women Management New York"></div>
    <div class="col-4"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-apm.png" alt="APM New York"></div>
    <div class="col-4"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-noths.png" alt="Not On The High Street"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-supreme.png" alt="Supreme Management"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-cbooks.png" alt="CounterBooks"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-coral.png" alt="Coral"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" src="/assets/images/companies-logo-flexipod.png" alt="Flexipod"></div>
  </div>
</section>

<section class="my-5 pt-3">
  <h2 class="text-center mb-5">My colleagues said</h2>
  <blockquote>
   <p>Silvia is one of those interface developers that has the great benefit of coming from a design background - yet has a strong technical foundation. This has proven to be a major asset within our web team. She works with a high attention to detail and leaves no stones unturned. Very positive and can-do attitude; a valuable member of the team.</p>
   <cite>Michelle Anderson – Senior Software Engineer</cite>
  </blockquote>
  <blockquote>
   <p>Silvia is one stellar UI/X developer. She combines her outstanding knowledge of design and development to provide you with one talented UI developer than any front-end team would be proud to have on their team. She is passionate, has great attention-to-detail and always completed her time-sheet to me on time without fail every week. I can’t recommend Silvia enough.</p>
   <cite>Neil Palmer – Vice President of Product Development</cite>
  </blockquote>
  <blockquote>
   <p>I’ve been working closely with Silvia during my time in Bodog. It has always been an absolute pleasure to work with her. Silvia is a senior UI expert who is not only passionate about web interfaces, but about curious and interested in learning and staying up-to-date in industry trends. She’s experienced in various fields, like Design, Photoshop comps, Semantic markup. Her eye for beauty and composition was of tremendous help for the team in multiple occasions. A very critical asset for the company. Absolutely recommended!</p>
   <cite>Davide Molin – Fullstack Developer</cite>
  </blockquote>
  <blockquote>
   <p>Silvia was a senior UI dev on one of my projects and I found her very easy to work with. She is hard working, dedicated to what she does and takes pride in her work. She has a good eye for detail and was able to adapt to a stessful project without problem. She would be someone I would enjoy working with in the future.</p>
   <cite>Richard Ashington – Technical Project Manager</cite>
  </blockquote>
  <blockquote>
   <p>The “Three attributes” suggested by LinkedIn are not enough for Silvia. She is absolutely very professional, skilled and accurate. Always on time, she is able to handle emergencies in times of high workload peaks and last minute changes.</p>
   <cite>Alessandro Appodio – Project Manager</cite>
  </blockquote>
</section>

{% include pattern-hire.html %}