---
layout: default
title: Tags archive
date: 2021-08-16 13:40
last_modified_at: 2021-08-25T17:45:22
permalink: /tags/
---
{% include site-breadcrumbs.html %}

<h1>Tags</h1>

<ol class="list-unstyled list-inline">
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}
  <li class="list-inline-item mb-4 me-4"><a class="btn btn-secondary" href="{{ site.url }}/tag/{{ t | slugify }}/" title="Go to the archive page for: {{ t }}"><strong>{{ t | upcase }}</strong> <sup>{{ posts | size }}</sup></a></li>
{% endfor %}
</ol>