---
layout: portfolio-page
title: Work
date: 2021-04-13 17:27:01
last_modified_at: '2022-01-13 16:58:28'
description: This is Silvia Maggi's online portfolio. Find her latest UX case studies, side projects and more. How to contact and connect on LinkedIn.
permalink: /silvia-maggi-portfolio/
---
<div class="smd-entry">
  <p class="e-content lead">My mission is to create meaningful interactions that serve people and businesses best, through considerate, research-based design. Here is a <strong>selection of UX case studies</strong> and side projects.</p>
  <p class="lead">Do you need help with <strong>UX consultancy</strong> (problem-finding, research-based prototypes) or <strong>design and development</strong> of apps and websites?</p>
  <div class="text-center my-5 pb-5">
    <a class="btn btn-lg btn-smd btn-smd-cta py-3 px-4 fw-bold" href="/get-in-touch-silviamaggi/" title="Go the contacts page"><span class="text-uppercase fs-4">🔗 <strong>Hire me</strong></span></a>
  </div>
</div>

<section class="h-feed my-5">
  <h2 class="p-name text-center display-6 mb-5">Case studies</h2>
  <div class="card-group">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      {% assign caseStudies = site.casestudies | sort: 'casestudy-order' %}
      {% for casestudy in caseStudies %}
      <div class="col smd-transition-opacity-03s">
        <div class="card h-100 smd-transition-border-03s">
          <img class="card-img-top" src="/assets/images/highlights/highlighted-{{ casestudy.featured-image }}" alt="{{ casestudy.featured-image-alt }}" width="300" height="169">
          <div class="card-body">
            <h3 class="mt-1 mb-3">{{ casestudy.title }}</h3>
            <p class="e-content fs-5 card-text text-start">{{ casestudy.excerpt }}</p>
          </div>
          <div class="card-footer text-center pb-3">
            {% if casestudy.custom-cta == true %}
            <a class="stretched-link text-uppercase fw-bold" href="{{ casestudy.custom-url }}" title="View: {{ casestudy.title }}">{{ casestudy.custom-cta-title }}</a>
            {% else %}
            <a class="stretched-link text-uppercase fw-bold" href="{{ casestudy.url }}" title="View: {{ casestudy.title }}">View the case study</a>{% endif %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="my-5 pt-3">
  <h2 class="text-center display-6 mb-5">They trusted me</h2>
  <div class="row justify-content-center gy-4">
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-unicredit.png" alt="UniCredit"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-origami.png" alt="Origami"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-elite.png" alt="Elite New York"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-reevoo.png" alt="Reevoo"></div>
    <div class="col-4"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-wm.png" alt="Women Management New York"></div>
    <div class="col-4"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-apm.png" alt="APM New York"></div>
    <div class="col-4"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-noths.png" alt="Not On The High Street"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-supreme.png" alt="Supreme Management"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-cbooks.png" alt="CounterBooks"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-coral.png" alt="Coral"></div>
    <div class="col-4 col-md-3"><img class="d-block mx-auto comp-logos" loading="lazy" src="/assets/images/companies-logo-flexipod.png" alt="Flexipod"></div>
  </div>
</section>

<section class="h-feed my-5 pt-3">
  <h2 class="p-name text-center display-6 mb-5">Side projects</h2>
  <div class="card-group">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      {% for sideproject in site.sideprojects %}
      <div class="col smd-transition-opacity-03s">
        <div class="card h-100 smd-transition-border-03s">
          <img class="card-img-top" loading="lazy" src="/assets/images/highlights/highlighted-{{ sideproject.featured-image }}" alt="{{ sideproject.featured-image-alt }}" width="300" height="169">
          <div class="e-content card-body">
            <h3 class="mt-1 mb-3">{{ sideproject.title }}</h3>
            <p class="fs-5 card-text">{{ sideproject.excerpt }}</p>
          </div>
          <div class="card-footer text-center pb-3">
            <a class="stretched-link text-uppercase fw-bold" href="{{ sideproject.url }}" title="View: {{ sideproject.title }}">View the side project</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>