---
title: homepage
date: 2021-04-13 16:44:23
last_modified_at: 2021-09-16 18:51:16
---
<section class="intro mb-2 mb-md-5 pb-3">
  <div class="row">
    <div class="col-md-11 mx-auto pt-3 pt-md-5 pb-3">
      <div class="row d-flex align-items-center">
        <div class="mx-auto text-center mb-2 mb-md-5 pb-4">
          <span class="display-4 smd-serif d-inline-block px-4 py-2 text-white smd-text-rotate smd-bg-d-70">{{ site.brand.smd_tagline }}</span>
        </div>
        <div class="h-card col-md-3 d-flex justify-content-md-end">
          <a class="p-name u-url" href="https://silviamaggidesign.com/about-silviamaggi-ux-designer/">{% include pattern-avatar.html alt="Silvia Maggi" width="120" height="120" %}</a> 
          <a class="p-org visually-hidden" href="https://silviamaggidesign.com/">Silvia Maggi Design</a>
        </div>
        <div class="h-card col-md-9">
          <h1 class="p-note h4 smd-sans smd-unmask-texture text-center text-md-start mt-3 mt-md-0 mb-0">{{ site.brand.smd_pitch }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

{% include pattern-featured-posts.html %}
{% include pattern-latest-posts.html %}