<div class="latest-posts">

  <h3>Latest Posts</h3>

  {%- assign recentPosts = site.posts -%}

  {%- for post in recentPosts limit:site.brand.smd_latestposts_limit -%}
  <div class="latest-post">
    <img src="{{ site.url }}/assets/images/thumbs/thumb-{{ post.featured-image }}" alt="{{ post.title }}" width="150" height="150">
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <div class="post-meta">
      <p>{% include post-meta.html %}&nbsp;&ndash;&nbsp;{% include pattern-readingtime.html content=post.content %}</p>
    </div>
    <p class="latest-post-excerpt">{{ post.excerpt | markdownify | strip_html }}</p>
    <div><a class="button" href="{{ post.url }}" title="Read the entire post">Read more</a></div>
  </div>
  <hr>
  {% endfor -%}
  <div class="button-readmore">
    <a class="button" href="{{ site.data.nav-site[2].link }}" title="Check out all the articles">Read all the articles</a>
  </div>

  <hr>

</div>