<section class="latest-posts mt-5">

  <h3 class="text-center my-4">Latest Posts</h3>

  {%- assign recentPosts = site.posts -%}

  {%- for post in recentPosts limit:site.brand.smd_latestposts_limit -%}
  <div class="latest-post my-5">
    <h4><a class="text-decoration-none" href="{{ post.url }}">{{ post.title }}</a></h4>
    <div class="post-meta">
      <p class="small">{% include post-meta.html %}&nbsp;&ndash;&nbsp;{% include pattern-readingtime.html content=post.content %}</p>
      <p class="latest-post-excerpt">{{ post.excerpt | markdownify | strip_html }}</p>
      <div><a class="bi bi-chevron-right smd-btn-link" href="{{ post.url }}" title="Read the entire post">Read more <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg></a></div>
    </div>
  </div>
  {% endfor -%}
  <div class="my-5 text-center">
    <a class="btn btn-primary btn-lg" href="{{ site.data.nav-site[2].link }}" title="Check out all the articles">Read all the articles</a>
  </div>

</section>