<section class="smd-image-gallery">
  <div class="d-flex justify-content-center smd-img-gallery-thumbs my-5 pt-2" id="gallery" data-bs-toggle="modal" data-bs-target="#smdImgGallery{{ include.id }}">
  
  {% for image in site.static_files %}

    {% if image.path contains include.folder %}
    {% assign filenameparts = image.path | split: "/" %}
    {% if image.path contains 'thumb-' %}
    {% assign filename = filenameparts | last | replace: image.extname,"" | replace: 'thumb', '' | replace: '-',' ' %}

    <div class="px-4 text-center">
      <img loading="lazy" class="rounded mx-auto d-block" src="{{ image.path | relative_url }}" alt="{{ filename }}" title="{{ filename }}" width="150" height="150" data-bs-target="#smdImgGalleryCarousel">
      <span class="initialism">{{ filename }}</span>
    </div>
  
    {% endif %}
    {% endif %}
  
  {% endfor %}

  </div>

  {%- include pattern-modal-carousel.html -%}

</section>