<div class="newsletter newsletter-subscription my-3 pt-4">
  <form action="/newsletter/subscribed/" name="newsletterSubscription" netlify netlify-honeypot="not-for-humans">
    <div class="row g-2">
      <div class="visually-hidden">
        <label>Don’t fill this out if you're human: <input name="not-for-humans" /></label>
      </div>
      <div class="col-lg-9">
        <label class="form-label btn-label-lg-smd" for="subscriberEmail">Your email address</label>
      </div>
        <div class="col-lg-9 col-xl-6 mb-3">
          <input class="form-control form-control-lg" type="email" name="email" id="subscriberEmail" required>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-lg btn-smd fw-bold" type="submit" aria-label="Submit">Subscribe</button>
      </div>
    </div>
  </form>

</div>
<p class="small">By subscribing, you acknowledge that your information will be transferred to Silvia Maggi Design. <a href="/colophon/#newsletter-privacy" title="Go to the Privacy Policy page">Learn more</a>.</p>