<section class="h-feed featured-posts my-5 my-md-5">
  <h2 class="p-name text-center display-5 smd-mask-texture mb-5">Popular</h2>
    <div class="card-group">
      <div class="h-feed row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
      {%- assign popular = site.posts | where: 'popular-post', 'true' -%}
      {% for post in popular | limit:3 %}
        <div class="col smd-transition-opacity-03s">
          <div class="card h-100 smd-transition-border-03s">
            <img class="card-img-top" src="{{ site.url }}/assets/images/highlights/highlighted-{{ post.featimage | append: '.jpg' }}" alt="{{ post.featimage-alt }}" width="300" height="169">
            <div class="card-body">
              <div class="post-meta mb-3">
                <span class="fw-bold text-uppercase smd-font-micro d-inline-block">{{ post.date | date: "%d %B %Y" }}</span>
              </div>
              <h3 class="h4 mt-0 mb-3">{{ post.title }}</h3>
            </div>
            <div class="card-footer text-center pb-3">
              <a class="stretched-link text-uppercase fw-bold" href="{{ post.url }}" title="Read: {{ post.title }}">Read the post</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>