<section class="featured-posts my-5 my-md-5 pt-3">

  <h2 class="text-center display-5 smd-mask-texture mb-5">Highlights</h2>

    <div class="card-group">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

      {%- assign postFeat = site.posts | where: 'featured-post', 'true' -%}
      {%- assign caseFeat = site.project | where: 'featured-post', 'true' -%}
      {%- assign featured = postFeat | concat: caseFeat -%}

      {% for post in featured reversed limit:3 %}
        <div class="col smd-transition-opacity-03s">
          <div class="card h-100 smd-transition-border-03s">
            <img class="card-img-top" src="{{ site.url }}/assets/images/highlights/highlighted-{%- if postFeat -%}{{ post.featured-image }}{%- elsif caseFeat -%}{{ project.featured-image }}{%- endif -%}" alt="{%- if postFeat -%}{{ post.featured-image-alt }}{%- elsif caseFeat -%}{{ project.featured-image-alt }}{%- endif -%}" width="300" height="169">
            <div class="card-body">
              <h3 class="h4 mb-3">{%- if postFeat -%}{{ post.title }}{%- elsif caseFeat -%}{{ project.title }}{%- endif -%}</h3>
              <div class="post-meta mb-3">
                <span class="fw-bold text-uppercase smd-font-micro d-inline-block"><strong>{{ post.date | date: "%d %B %Y" }}</strong></span>
              </div>
              <p class="card-text small">{%- if postFeat -%}{{ post.excerpt | markdownify | strip_html }}{%- elsif caseFeat -%}{{ project.excerpt | markdownify | strip_html }}{%- endif -%}</p>
            </div>
            <div class="card-footer text-center pb-3">
              <a class="stretched-link" href="{{ post.url }}" title="Read: {{ post.title }}">Read {% if post.url contains '/portfolio/' -%}the project{% else -%}the post{%- endif -%}</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</section>