<figure class="text-left my-5">
  <div class="row">
    <div class="col-12 mb-5 mb-md-0 col-md-6">
      <img src="{{ site.url }}{{ include.image1 }}" alt="{{ include.alt1 }}" {{ include.width1 ? include.width1 | prepend: 'width="' | append: '"' }} {{ include.height1 ? include.height1 | prepend: 'height="' | append: '"' }}>
    </div>
    <div class="col-12 col-md-6">
      <img src="{{ site.url }}{{ include.image2 }}" alt="{{ include.alt2 }}" {{ include.width2 ? include.width2 | prepend: 'width="' | append: '"' }} {{ include.height2 ? include.height2 | prepend: 'height="' | append: '"' }}>
    </div>
    {% if include.caption %}<figcaption class="mt-3 text-center caption">{{ include.caption }}</figcaption>{% endif %}
  </div>
</figure>