<section class="smd-image-gallery my-5 pt-3">
  <div class="d-flex flex-wrap justify-content-center smd-img-gallery-thumbs">
  {%- for image in site.static_files -%}
  {%- capture galleryPath -%}{{ include.folder }}{%- endcapture -%}
  {%- if image.path contains galleryPath -%}
    {%- assign filenameparts = image.path | split: "/" -%}
    {%- assign imgCaption = filenameparts | last | replace: image.extname,'' | replace: 'thumb', '' | replace: '-a-','' | replace: '-b-','' | replace: '-c-','' | replace: '-d-','' | replace: '-e-','' | replace: '-f-','' | replace: '-g-','' | replace: '-h-','' | replace: '-i-','' | replace: '-l-','' | replace: '-m-','' | replace: '-n-','' | replace: '-o-','' | replace: '-p-','' | replace: '-q-','' | replace: '-r-','' | replace: '-s-','' | replace: '-t-','' | replace: '-u-','' | replace: '-v-','' | replace: '-z-','' | replace: '-',' ' | replace: '_',' ' -%}
    {%- if image.path contains 'thumb-' -%}
    <div class="ps-1 pe-2 text-center">
      <img class="smd-img-gallery-thumb rounded mx-auto d-block" src="{{ image.path }}" alt="{{ imgCaption | capitalize }}" title="Click to view {{ imgCaption | capitalize }}" width="150" height="150">
      <span class="smd-image-gallery-caption d-block initialism mt-2 mb-4">{{ imgCaption }}</span>
    </div>
    {%- endif -%}
  {%- endif -%}
  {%- endfor -%}
    <div class="smd-modal-container d-flex flex-wrap justify-content-center mt-4">
      <input class="smd-modal-btn" type="checkbox" id="smd-modal" name="smd-modal">
      <label class="btn btn-lg btn-smd btn-smd-cta fw-bold" for="smd-modal">📷 <span class="initialism ps-1">Open the gallery</span></label>
      <div class="smd-modal position-fixed d-flex flex-wrap justify-content-center">
        <div class="smd-modal-wrap d-block position-relative">
          {% include pattern-modal-carousel-css.html %}
        </div>
      </div>
    </div>
  </div>  
</section>