<figure class="mt-4 mb-5 figure figure--{{ include.position | default: 'center' }}" aria-labelledby="figcaption">
  <img loading="lazy" class="image" src="{{ site.url }}{{ include.image }}" alt="{{ include.alt | default: include.caption }}" {{ include.width ? include.width | prepend: 'width="' | append: '"' }} {{ include.height ? include.height | prepend: 'height="' | append: '"' }}>
  {% if include.caption %}<figcaption class="small mt-3 caption">{{ include.caption }}</figcaption>{% endif %}
</figure>