<span class="p-author h-card">
  <img class="u-photo" src="{{ site.url }}/assets/images/silviamaggi-avatar.png" alt="Silvia Maggi avatar" width="48" height="48">
  <a class="p-name" href="{{ site.url }}" rel="author"><strong>Silvia Maggi</strong></a>
  <span class="p-note">{{ site.brand.smd_bio }}</span>
</span>
<a class="u-url u-uid" href="{{ site.url }}{{ page.url }}" title="Permalink">Permalink: <em>{{ page.title }}</em></a>
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%-d %B %Y" }}</time>
{% if page.syndicate %}
<span><a rel="syndication" class="u-syndication" href="{{ page.syndicate }}">{{ page.syndicate }}</a></span>
{% endif -%}
<data class="p-org" value="Silvia Maggi Design"></data>
<data class="u-email" rel="me" value="mailto:contact@silviamaggidesign.com"></data>
<data rel="me" value="https://www.linkedin.com/in/silviamaggi/"></data>
<data rel="me" value="https://github.com/silviamaggi"></data>
<data rel="me" value="https://www.flickr.com/photos/silvia-m/"></data>
<data rel="me" value="https://oreganodangereux.wordpress.com"></data>
<data rel="me" value="https://indieweb.social/@silviamaggi"></data>