{% comment %} --- Categories --- {% endcomment %}
{% unless page.categories == empty %}
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  <span class="me-1">
    <span class="d-inline-block font-micro me-1">Filed under</span> {% for category in categories %}<a class="font-micro text-decoration-none btn btn-lg btn-label-smd btn-label-smd-bg btn-label-smd-link" href="{{ site.url }}/category/{{ category | slugify | append: '/' }}"><strong>{{ category | upcase | replace:"-"," " }}</strong></a>{% endfor %}
  </span>
{% endunless %}
{% comment %} --- Tags --- {% endcomment %}
{% unless page.tags == empty %}
  {% if post %}
  {% assign tags = post.tags %}
  {% else %}
  {% assign tags = page.tags %}
  {% endif %}
  <span class="ms-1">
    <span class="d-inline-block font-micro me-1">Tagged</span> {% for tag in tags %}<a class="font-micro me-2 text-decoration-none btn btn-lg btn-label-smd btn-label-smd-bg btn-label-smd-link" href="{{ site.url }}/tag/{{ tag | slugify | append: '/' }}"><strong>{{ tag | upcase }}</strong></a>{% unless forloop.last %}{% endunless %}{% endfor %}
  </span>
{% endunless %}