{% assign project = site.projects %}
{%- if post -%}
  {%- assign categories = post.categories -%}
{%- else -%}
  {%- assign categories = page.categories -%}
{%- endif -%}
{% unless page.collection == 'newsletters' %}
<hr>
<section>
  {% unless page.collection == 'newsletters' %}
    <div>
      <span class="text-uppercase me-1">{% if page.collection == 'projects' %}Year:{% else %}Filed under{% endif %}</span>
        {% if page.collection == 'projects' %}
        <span class="fw-bold text-uppercase d-inline-block"><strong>{{ page.year | date: "%Y" }}</strong></span>
        {% endif %}
        {%- for category in categories -%}
          <a class="text-decoration-none me-2 me-lg-1" href="{{ site.url }}/category/{{ category | slugify | append: '/' }}"><span class="p-category btn btn-lg btn-label-smd btn-label-smd-bg btn-label-smd-link fw-bold smd-font-micro"><strong>{{ category | upcase | replace:"-"," " }}</strong></span></a>
        {%- endfor -%}
      </div>
  {% endunless %}
  {% if page.collection == 'projects' %}
    <div class="pt-2">
      <span class="text-uppercase me-1">Skills:</span>
        {%- for skill in page.skills -%}
          <span class="p-category fw-bold text-uppercase"><strong>{{ skill }}</strong></span>{% unless forloop.last %} <span class="d-inline-block mx-1">/</span>{% endunless %}
        {%- endfor -%}
      </div>
    <div class="pt-2">
      <span class="text-uppercase me-1">Tools:</span>
        {%- for tool in page.tools -%}
          <span class="p-category fw-bold text-uppercase"><strong>{{ tool }}</strong></span>{% unless forloop.last %} <span class="d-inline-block mx-1">/</span>{% endunless %}
        {%- endfor -%}
    </div>
  {% endif %}
  <div class="pt-2">
    {%- unless page.tags == empty -%}
      {%- if post -%}
        {%- assign tags = post.tags -%}
        {%- else -%}
        {%- assign tags = page.tags -%}
      {%- endif -%}
      <span class="d-inline-block text-uppercase me-1">Tags</span>
      {% for tag in tags %}<a class="p-category me-2 text-decoration-none me-2 me-lg-1" href="{{ site.url }}/tag/{{ tag | slugify | append: '/' }}"><span class="btn btn-lg btn-label-smd btn-label-smd-bg btn-label-smd-link fw-bold smd-font-micro"><strong>{{ tag | upcase }}</strong></span></a>{% unless forloop.last %}{% endunless %}{% endfor %}
    {%- endunless -%}
  </div>
</section>
{%- endunless -%}