{% comment %}
  ----------
  Categories
  ----------
{% endcomment %}
{% unless page.categories == empty %}
<div class="post-categories">
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  <p>featured-post: false
categories: <strong>{% for category in categories %}<a href="/categories/{{ category | slugify }}/">{{ category | capitalize | replace:"-"," " }}</a>{% unless forloop.last %},&nbsp;{% endunless %}{% endfor %}</strong></p>
</div>
{% endunless %}
{% comment %}
  ----
  Tags
  ----
{% endcomment %}
{% unless page.tags == empty %}
<div class="post-tags">
  {% if post %}
  {% assign tags = post.tags %}
  {% else %}
  {% assign tags = page.tags %}
  {% endif %}
  <p>Tags: <small><strong>{% for tag in tags %}<a href="/tags/{{ tag | slugify }}/">{{ tag | upcase }}</a>{% unless forloop.last %},&nbsp;{% endunless %}{% endfor %}</strong></small></p>
</div>
{% endunless %}