<div class="previous-next-post-links mt-5">

  <div class="d-flex justify-content-center">

    <div class="w-50 border-end pe-2 text-end">
      {% if page.previous.url %}{% unless page.previous.hidden %}
      <a class="text-decoration-none fw-bold" href="{{ site.url }}{{ page.previous.url }}">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>&nbsp;{{ page.previous.title }}</a>
      {% endunless %}{% endif %}
    </div>

    <div class="w-50 border-start ps-2">
      {% if page.next.url %}{% unless page.next.hidden %}
      <a class="text-end text-decoration-none fw-bold" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></a>
      {% endunless %}{% endif %}
    </div>

  </div>

</div>