{% comment %} --- Categories --- {% endcomment %}
{% unless page.categories == empty %}
<div>
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  <span class="small me-2">Filed under: {% for category in categories %}<a class="post-taxonomy-label d-inline-block rounded text-decoration-none" href="{{ site.url }}/category/{{ category | slugify | append: '/' }}"><strong class="small">{{ category | upcase | replace:"-"," " }}</strong></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
{% endunless %}
{% comment %} --- Tags --- {% endcomment %}
{% unless page.tags == empty %}
  {% if post %}
  {% assign tags = post.tags %}
  {% else %}
  {% assign tags = page.tags %}
  {% endif %}
  <span class="ms-1 small">Tagged: {% for tag in tags %}<a class="post-taxonomy-label d-inline-block mx-1 rounded text-decoration-none" href="{{ site.url }}/tag/{{ tag | slugify | append: '/' }}"><strong class="small">{{ tag | upcase }}</strong></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
</div>
{% endunless %}