{%- assign note = site.notes -%}
<link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ page.url |  replace:'index.html','' | absolute_url }}{% endif %}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<!-- Open graph -->
<meta property="og:title" content="{%- include site-meta-title.html -%}">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{% if page.featuredimage %}{{ site.url }}/assets/images/{{ page.featimage }}.jpg{% else -%}{{ site.logo | prepend: site.url }}{% endif %}">
<meta property="og:locale" content="en_GB">
<!-- LinkedIn -->
<meta prefix="og: https://ogp.me/ns#" property="og:title" content="{%- include site-meta-title.html -%}">
<meta prefix="og: https://ogp.me/ns#" property="og:type" content="website">
<meta prefix="og: https://ogp.me/ns#" property="og:description" content="{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}">
<meta prefix="og: https://ogp.me/ns#" property="og:image" content="{% if page.featuredimage %}{{ site.url }}/assets/images/{{ page.featimage }}.jpg{% else -%}{{ site.logo | prepend: site.url }}{% endif %}">
<meta prefix="og: https://ogp.me/ns#" property="og:url" content="{{ page.url | prepend: site.url }}">
<!-- Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  {% if page.is_post -%}
  "@type": "BlogPosting",{% else %}"@type": "WebSite",
  {%- endif %}
  "name": "{%- include site-meta-title.html -%}",
  "headline": "{%- include site-meta-title.html %}",
  "url": "{{ site.url }}{{ page.url }}",
  "description": "{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}",
  "keywords": "{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{ site.keywords }}{% endif %}",
  {%- assign tagArchive = page.type | where: 'post.type', 'tag' -%}
  {% unless tagArchive %}
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.last_modified_at }}",
  {% endunless -%}
  "author": {
    "@type": "Person",
    "name": "Silvia Maggi",
    "givenName": "Silvia",
    "familyName": "Maggi"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "sameAs": [
    "https://linkedin.com/in/silviamaggi/",
    "https://github.com/silviamaggi/",
    "https://www.flickr.com/photos/silvia-m/"
  ],
  {%- if page.featuredimage %}
  "image": {
    "@type": "ImageObject",
    "width": "1200",
    "height": "500",
    "url": "{{ site.url }}/assets/images/{{ page.featimage }}.jpg"
  }
  {%- else %}
  "image": {
    "@type": "ImageObject",
    "width": "1200",
    "height": "628",
    "url": "{{ site.url }}{{ site.logo }}"
  }
  {%- endif %}
}
</script>