<aside class="pt-4 pb-2">
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  {%- unless page.title contains "homepage" -%}
  <nav class="small" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='gray'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb initialism fw-bold">
      <li class="breadcrumb-item"><a href="{{ site.url }}">Homepage</a></li>
      {% if page.url contains "/category/" %}
      <li class="breadcrumb-item"><a href="{{ site.url }}/blog/">Blog</a></li>
      <li class="breadcrumb-item"><a href="{{ site.url }}/categories/">Categories</a></li>
      {% elsif page.url contains "/categories/" %}
      <li class="breadcrumb-item"><a href="{{ site.url }}/blog/">Blog</a></li>
      {% elsif page.url contains "/tag/" %}
      <li class="breadcrumb-item"><a href="{{ site.url }}/blog/">Blog</a></li>
      <li class="breadcrumb-item"><a href="{{ site.url }}/tags/">Tags</a></li>
      {% elsif page.url contains "/tags/" %}
      <li class="breadcrumb-item"><a href="{{ site.url }}/blog/">Blog</a></li>
      {% elsif page.url contains "/portfolio/" %}
      <li class="breadcrumb-item"><a href="{{ site.url }}/silvia-maggi-portfolio/">Work</a></li>
      {% endif %}
      {%- if page.url contains "blog" -%}
      <li class="breadcrumb-item">Blog</li>
      {%- endif -%}
      {% if page.id %}{% unless page.url contains "portfolio" %}
      <li class="breadcrumb-item"><a href="{{ site.url }}/blog/">Blog</a></li>
      <li class="breadcrumb-item"><a href="{{ site.url }}/categories/">Categories</a></li>
      {% endunless %}
      <li class="breadcrumb-item">{% for category in categories %}<a href="/category/{{ category | slugify }}/">{{ category | capitalize | replace:"-"," " }}</a>{% endfor %}</li>
      {% endif %}
      {% unless page.title contains 'Blog' -%}{%- unless page.title contains 'homepage' %}
      <li class="breadcrumb-item" aria-current="page">{{ page.title | replace:"archive","" | truncate: 35 }}</li>
      {% endunless %}{% endunless %}
    </ol>
  </nav>
  {%- endunless -%}
</aside>