<header class="h-card site-header sticky-md-top pe-lg-5 pt-2 pt-md-4">
  <span class="u-logo">{% include site-logo.html %}</span>
  <div class="h-card smd-mini-tagline d-none d-md-block mt-3">
    <p class="p-note small">{{ site.brand.smd_pitch }}</p>
  </div>
  {%- include navigation-main.html %}
  <div class="d-none d-md-block mb-4">{%- include navigation-social.html %}</div>
  {%- if page.id -%}{%- unless page.url contains "portfolio" -%}
  <div class="d-none d-md-block mt-4 pt-3">{%- include pattern-buymeacoffee.html %}</div>
  {%- endunless -%}{%- endif -%}
</header>