<footer class="site-footer">
  <div class="container">
    <span class="site-footer-copyright"><small>&copy; {{ site.time | date: '%Y' }} &ndash; {{ site.title }}</small></span>
    {%- include navigation-footer.html %}
    <div class="site-footer-scrolltop"><a href="{{ page.url }}#top">&#8613;&nbsp;Back to top</a></div>
  </div>
</footer>
<script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
{% if page.url contains 'search' %}
<script type="text/javascript" src="{{ site.url }}/assets/js/fetch.js" }}"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/search.js" }}"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/smd-search.js" }}"></script>
{% endif %}