<footer class="site-footer">
  <div class="container">
    <span class="site-footer-copyright"><small>&copy; {{ site.time | date: '%Y' }} &ndash; {{ site.title }}</small></span>
    {%- include navigation-footer.html %}
    <div class="site-footer-scrolltop"><a class="smd-btn-link" href="{{ page.url }}#top"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M3.646 11.854a.5.5 0 0 0 .708 0L8 8.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM2.4 5.2c0 .22.18.4.4.4h10.4a.4.4 0 0 0 0-.8H2.8a.4.4 0 0 0-.4.4z"/>
    </svg>&nbsp;Back to top</a></div>
  </div>
</footer>
<script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
{% if page.url contains 'search' or page.url contains '404.html' %}
<script type="text/javascript" src="{{ site.url }}/assets/js/fetch.js" }}"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/search.js" }}"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/smd-search.js" }}"></script>
<noscript>Please enable JavaScript to use the search form.</noscript>
{% endif %}