---
layout: blog
title: Blog
date: '2021-04-13 17:31'
last_modified_at: '2023-03-29 11:45:07'
description: "This is Silvia Maggi’s blog, where she writes about design, tech and their implications in our lives. Also personal posts and photography projects."
excerpt: '<a href="/feed.xml">Read the posts via RSS</a>. Looking for something specific? <a href="/archive/">Visit the archive</a> or <a href="/search/">search</a>.'
---
{% include pattern-popular-posts.html %}

<section class="h-feed">
  {% for post in site.posts %}
  {% unless post.hidden == true %}
  {%- include pattern-postblock.html -%}
  {% endunless %}
  {% endfor -%}
</section>