---
title: Blog
description: This is Silvia Maggi's blog, a place where I write about design, tech, their implications in our lives and the occasional photography work.
redirect_from:
  - /latest/
---
<h1>Blog</h1>
{% for post in paginator.posts %}
<div class="blogroll blogroll-post">
  <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
  <p class="post-meta">{{ post.date | date_to_string }}</p>
  <div class="content">{{ post.excerpt | markdownify | strip_html }}<div><a class="button" href="{{ post.url }}" title="Read the entire post">Read more</a></div></div>
</div>
{% endfor -%}

<br>

<nav class="nav nav-paginator">
  {% if paginator.previous_page -%}<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination pagination-previous">&larr; Newer</a>{%- endif %}
  <span class="pagination pagination-counter">Page: <strong>{{ paginator.page }} of {{ paginator.total_pages }}</strong></span>
  {% if paginator.next_page %}<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination pagination-next">Older &rarr;</a>{% endif %}
</nav>

<br>