---
layout: blog
title: Blog
date: 2021-04-13 17:31
last_modified_at: '2022-01-24 15:31:04'
description: "This is Silvia Maggi’s blog, where she writes about design, tech and their implications in our lives. Also personal posts and photography projects."
excerpt: 'I write about design, tech and their implications in our lives. Follow my posts via <a href="/feed.xml">RSS</a>, or check the <a href="/notes/">notes</a> section. Looking for something specific? Visit the <a href="/archive/">archive</a>.'
---
{% include pattern-popular-posts.html %}
<section class="h-feed my-5">
  <h2 class="p-name text-center display-5 smd-mask-texture mb-5">Categories</h2>
  <ol class="list-unstyled list-inline text-center w-100">
  {% assign sorted_cats = site.categories | sort %}
  {% for category in sorted_cats %}
  {% assign c = category | first %}
  {% assign posts = category | last %}
    <li class="list-inline-item mb-4 me-4">
      <a class="btn btn-lg btn-label-smd btn-label-lg-smd btn-label-smd-bg btn-label-smd-link px-4 py-2" href="{{ site.url }}/category/{{ c | slugify }}/" title="Go to the archive page for: {{ c }}"><strong>{{ c | upcase }}</strong> <sup>{{ posts | size }}</sup></a>
    </li>
  {% endfor %}
  </ol>
</section>

<section class="h-feed">
  <h2 class="p-name text-center display-5 smd-mask-texture mb-5">All posts</h2>
  {% for post in site.posts %}
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% unless post.hidden == true %}
  {%- include pattern-postblock.html -%}
  {% endunless %}
  {% endfor -%}
</section>