---
layout: default
---
<h1>Archive of posts with {{ page.type }} <code>{{ page.title | capitalize }}</code></h1>
<ul class="archive-posts">
  {% for post in page.posts %}
    <li>
      <img src="/assets/images/thumbs/thumb-{{ post.featured-image }}" alt="{{ post.title }}">
      <h2>{{ post.title }}</h2>
      <div class="blurb-content">
        <p>{%- include post-meta.html %} &ndash; {% include pattern-readingtime.html content=post.content -%}</p>
        <p>{{ post.excerpt | markdownify | strip_html }}</p>
        <div><a class="button" href="{{ post.url | relative_url }}">Read more</a></div>
      </div>
    </li>
    <hr>
  {% endfor %}
</ul>