---
layout: default
---
<h1>Archive of posts with {{ page.type }} '{{ page.title | capitalize }}'</h1>
<ul class="archive-posts">
  {% for post in page.posts %}
    <li>
      <img src="/assets/images/thumbs/thumb-{{ post.featured-image }}" alt="{{ post.title }}">
      <h2>{{ post.title }}</h2>
      <div class="blurb-content">
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.excerpt | markdownify | strip_html }}</p>
        <div><a class="button" href="{{ post.url | relative_url }}">Read more</a></div>
      </div>
    </li>
    <hr>
  {% endfor %}
</ul>