---
layout: default
---
{% include site-breadcrumbs.html %}

{%- assign notes = site.notes -%}

{%- if page.mention == true %}

<article class="smd-entry">
  <h1 class="text-center text-md-start mt-4 mt-md-0">{{ page.date | date: "%-d %B %Y" }}</h1>
  <div class="p-name text-center text-md-start mt-4 mt-md-0">
    <span class="btn btn-lg btn-label-smd btn-label-smd-bg btn-label-smd-link fw-bold smd-font-micro">{{ page.tags[0] | upcase }}</span>
  </div>
  <div class="h-entry mt-5">
    <div class="visually-hidden">
      <span>{% include pattern-hcard-note.html %}</span>
    </div>
    <p>{% if page.mentionType == 'like' %}🧡 <strong class="ps-1">A like of</strong> {% elsif page.mentionType == 'repost' %}🔄 <strong class="ps-1">A repost of</strong> {% elsif page.mentionType == 'reply' %}↪️ <strong class="ps-1">In reply to</strong> {% endif %}<a class="{% if page.mentionType == 'like' %}u-like-of{% elsif page.mentionType == 'repost' %}u-repost-of{% elsif page.mentionType == 'reply' %}u-in-reply-to{% endif %}" href="{{ page.mentionReplyUrl }}">{{ page.mentionReplyTitle }}</a></p>
    <p class="p-name detached lead lh-sm">{{ page.excerpt }}</p>
    <div class="e-content mt-5">
      {{ content }}
    </div>
  </div>
  {%- include pattern-responses.html -%}
</article>

{%- else -%}

<article class="h-entry smd-entry">
  <h1 class="p-name text-center text-md-start mt-4 mt-md-0">{{ page.date | date: "%-d %B %Y" }}</h1>
  <div class="p-name text-center text-md-start mt-4 mt-md-0">
    <span class="fw-bold"><code>#{{ page.tags[0] | upcase }}</code></span>
  </div>
  <div class="visually-hidden">
      <span>{% include pattern-hcard-note.html %}</span>
    </div>
  <div class="e-content">
    <p class="lead">{{ page.excerpt }}</p>
    {{ content }}
  </div>
  {%- include pattern-responses.html -%}
</article>

{% endif -%}

{%- if notes.size > 1 %}
{% include post-navigation.html %}  
{%- endif -%}