{%- include site-head.html -%}
<body class="layout-{{ page.layout }} {% if page.is_post %}post{% elsif page.type %}{{ page.type }}{% else %}page{% endif %}-{{ page.title | slugify }}" id="top">
  <main>
    <div class="container-lg mb-5 pb-3">
      <div class="row">
        <div class="col-md-4">
          {% include site-header.html %}
        </div>
        <div class="col-md-8" id="smd-content">
          {% include site-breadcrumbs.html %}
          <h1 class="p-name text-center text-md-start mt-4 mt-md-0">{{ page.title }}</h1>
          <div class="post-meta smd-translucent-bg my-4 px-3 py-2 rounded">
            <div class="p-category"><span class="d-inline-block small me-1">Skills: </span>{%- for skill in page.skills -%}<span class="btn-label-smd btn-label-smd-bg d-inline-block initialism fw-bold me-2 me-lg-1 rounded"><strong>{{ skill }}</strong></span>{%- endfor -%}</div>
            <div class="p-category"><span class="d-inline-block small me-1">Tools: </span>{%- for tool in page.tools -%}<span class="btn-label-smd btn-label-smd-bg d-inline-block initialism fw-bold me-2 me-lg-1 rounded"><strong>{{ tool }}</strong></span>{%- endfor -%}</div>
          </div>
          <figure class="text-center">
            <img class="mx-auto" src="{{ site.url }}/assets/images/{{ page.featured-image }}" alt="{{ page.title }}" width='1200' height='500'>
          </figure>
        </div>
      </div>
    </div>
    <article class="h-entry smd-entry pb-5">
      {{ content }}
    </article>
  </main>
{% include site-footer.html -%}
</body>
</html>