---
layout: default
---
{%- if post -%}
  {%- assign categories = post.categories -%}
{%- else -%}
  {%- assign categories = page.categories -%}
{%- endif -%}
<article class="smd-entry">
  <h1 class="p-name text-center text-md-start mt-4 mt-md-0">{{ page.title }}</h1>
  <span class="p-author h-card"><a class="p-name" href="{{ site.url }}/about/" rel="author"><img class="u-photo" src="{{ site.url }}/assets/images/silviamaggi-avatar.png" alt="Silvia Maggi" width="32" height="32"></a></span> &nbsp;<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated"><a rel="me" class="u-url u-uid dim" href="{{ site.url }}{{ page.url }}" title="Permalink"><strong>{{ page.date | date: "%-d %B %Y" }}</strong></a></time>
  {% if post.excerpt %}
  <p class="p-summary detached lead lh-sm">{{ page.excerpt }}</p>
  {% endif %}
  {% if page.mention == true %}
  <hr>
  <p>{% if page.mentionType == 'like' %}<img src="/assets/images/like.svg" width="29" height="29" alt="Like" style="vertical-align: sub"> <strong class="ps-1">A like of</strong> {% elsif page.mentionType == 'reply' %}<img src="/assets/images/reply.svg" width="29" height="29" alt="Reply" style="vertical-align: sub"> <strong class="ps-1">In reply to</strong> {% endif %}<a class="{% if page.mentionType == 'like' %}u-like-of{% elsif page.mentionType == 'reply' %}u-in-reply-to{% endif %}" href="{{ page.mentionUrl }}"><em>{{ page.mentionTitle }}</em></a></p>
  {% endif %}
  <div class="mt-5">
    {%- if page.featuredimage == true %}
      {% responsive_image_block %}
        path: assets/images/{{ page.featimage | append: '.jpg' }}
        alt: {{ page.featimage-alt }}
        class: {{ page.featimage-class }}
        caption-true: {{ page.image-caption }}
        caption: {{ page.featimage-caption-desc }}
      {% endresponsive_image_block %}
    {% endif -%}
    <span class="e-content">{{ content }}</span>
    {% if page.syndicate %}
    <p>Also on: <a rel="syndication" class="u-syndication" href="{{ page.syndicate }}">{{ page.syndicate }}</a></p>
    {% endif -%}
  </div>
  <div class="post-meta">{%- include post-meta.html %}</div>
  {%- if page.id -%}
  {% unless page.type == 'note' %}
  <div class="text-center text-md-start mt-0 mb-5">{%- include pattern-buymeacoffee.html %}</div>
  {% endunless %}
  {%- endif -%}
  {% unless page.url contains '/newsletter/archive' %}
  {%- include pattern-responses.html -%}
  {% endunless %}
</article>
{%- include post-navigation.html -%}