---
layout: default
---
{%- if post -%}
  {%- assign categories = post.categories -%}
{%- else -%}
  {%- assign categories = page.categories -%}
{%- endif -%}
<article class="smd-entry">
  <header>
    <h1 class="p-name mt-4 mt-md-0">{{ page.title }}</h1>
    <span class="p-author h-card" aria-hidden="true"><img class="u-photo" src="{{ site.url }}/assets/images/silviamaggi-avatar.png" alt="Silvia Maggi portrait" width="32" height="32"> <a class="p-name" href="{{ site.url }}/about/" rel="author">Silvia Maggi</a> &middot;</span> <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated"><a rel="me" class="u-url u-uid" href="{{ site.url }}{{ page.url }}" title="Permalink"><span class="smd-heads-l-20">{{ page.date | date: "%-d %B %Y" }}</span></a></time>
  </header>
  {% unless page.intro == false %}
  <p class="p-summary detached lead">{{ page.excerpt }}</p>
  {% endunless %}
  {% if page.mention == true %}
  <hr>
  <p>{% if page.mentionType == 'like' %}<img src="/assets/images/like.svg" width="29" height="29" alt="Like" style="vertical-align: sub"> <strong class="ps-1">A like of</strong> {% elsif page.mentionType == 'reply' %}<img src="/assets/images/reply.svg" width="29" height="29" alt="Reply" style="vertical-align: sub"> <strong class="ps-1">In reply to</strong> {% endif %}<a class="{% if page.mentionType == 'like' %}u-like-of{% elsif page.mentionType == 'reply' %}u-in-reply-to{% endif %}" href="{{ page.mentionUrl }}"><em>{{ page.mentionTitle }}</em></a></p>
  {% endif %}
  <div class="mt-5">
    {%- if page.featuredimage == true %}
      {% responsive_image_block %}
        path: assets/images/{{ page.featimage | append: '.jpg' }}
        alt: {{ page.featimage-alt }}
        class: {{ page.featimage-class }}
        caption-true: {{ page.image-caption }}
        caption: {{ page.featimage-caption-desc }}
      {% endresponsive_image_block %}
    {% endif -%}
    <span class="e-content">{{ content }}</span>
    {% if page.syndicate %}
    <p>Also posted on: <a rel="syndication" class="u-syndication" href="{{ page.syndicate }}">{{ page.syndicate }}</a></p>
    {% endif -%}
  </div>
  {% if page.updated_on == true %}
    <p class="btn-lg d-inline-block btn-label-smd btn-label-smd-bg fw-bold mt-4 px-3 py-2">Updated on: {{ page.last_modified_at | date: "%-d %B %Y" }}</p>
  {% endif %}
  <div class="mt-5">
    <p class="fs-5 mb-2">Enjoyed this {% if page.url contains '/newsletter/archive/' %}newsletter{% else %}article{% endif %}?</p>
    <p><img src='{{ site.url }}/assets/images/ko-fi-logo.svg' alt="Ko-fi logo">&nbsp;<a class="smd-link smd-entry-fs fw-bold" href="https://ko-fi.com/W7W51YK7N">Support me on ko-fi.com</a>&nbsp;→</p>
  </div>
  {%- if page.url contains '/design-digested/' -%}
  {% include pattern-newsletter-post.html %}
  {%- endif -%}
  <div class="post-meta">
    {%- include post-meta.html %}
  </div>
  {%- if page.id -%}
  {%- endif -%}
  {%- assign maxRelated = 3 %}
  {%- assign minCommonTags = 2 %}
  {%- assign maxRelatedCounter = 0 %}
  {%- unless page.url contains '/newsletter/archive' %}
  <section>
    <h3>Related posts</h3>
    <dl>
    {%- for post in site.posts %}
      {%- assign sameTagCount = 0 %}
      {%- assign commonTags = '' %}
      {%- for tag in post.tags %}
        {%- if post.url != page.url %}
          {%- if page.tags contains tag %}
            {%- assign sameTagCount = sameTagCount | plus: 1 %}
          {%- endif %}
        {%- endif %}
      {%- endfor %}
      {%- if sameTagCount >= minCommonTags %}
      <dt><a href="{{ post.url }}">{{ post.title }}</a></dt>
      <dd>{{ post.excerpt }}</dd>
        {%- assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {%- if maxRelatedCounter >= maxRelated %}
            {%- break %}
          {%- endif %}
        {%- endif %}
      {%- endfor %}
    </dl>
  </section>
  {% endunless %}
</article>
{%- include post-navigation.html -%}