---
layout: default
---
{%- if post -%}
  {%- assign categories = post.categories -%}
{%- else -%}
  {%- assign categories = page.categories -%}
{%- endif -%}
<article class="smd-entry">
  <div class="h-entry">
    <h1 class="text-center text-md-start mt-4 mt-md-0">{{ page.title }}</h1>
    <div class="post-meta">
      {%- include post-meta.html %}
      <span class="visually-hidden">
        {% include pattern-hcard-post.html %}
      </span>
    </div>
    <p class="p-name detached lead lh-sm">{{ page.excerpt }}</p>
    {% if page.mention == true %}
    <p>{% if page.mentionType == 'like' %}🧡 <strong class="ps-1">A like of</strong> {% elsif page.mentionType == 'repost' %}🔄 <strong class="ps-1">A repost of</strong> {% elsif page.mentionType == 'reply' %}↪️ <strong class="ps-1">In reply to</strong> {% endif %}<a class="{% if page.mentionType == 'like' %}u-like-of{% elsif page.mentionType == 'repost' %}u-repost-of{% elsif page.mentionType == 'reply' %}u-in-reply-to{% endif %}" href="{{ page.mentionReplyUrl }}">{{ page.mentionReplyTitle }}</a></p>
    {% endif %}
    <div class="e-content mt-5">
      {%- if page.featuredimage == true %}
        {% responsive_image_block %}
          path: assets/images/{{ page.featimage | append: '.jpg' }}
          alt: {{ page.featimage-alt }}
          class: {{ page.featimage-class }}
          caption-true: {{ page.image-caption }}
          caption: {{ page.featimage-caption-desc }}
        {% endresponsive_image_block %}
      {% endif -%}
      {{ content }}
    </div>
  </div>
  {% unless page.url contains '/newsletter/archive' %}
    {%- include pattern-responses.html -%}
  {% endunless %}
</article>
{%- if page.id -%}
  <div class="d-block d-md-none text-center mt-0 mb-5">{%- include pattern-buymeacoffee.html %}</div>
  {%- endif -%}
{%- include post-navigation.html -%}